<div class="patient-list-container">
    <h2>Patients List</h2>
  
    <div class="patient-item" *ngFor="let patient of patients">
      <div class="patient-info">
        <div class="patient-name">{{ patient.name }}</div>
        <div class="patient-details">
          <span class="attribute-label">Age:</span> {{ patient.age }} |
          <span class="attribute-label">Gender:</span> {{ patient.gender }} |
          <span class="attribute-label">Condition:</span> {{ patient.condition }}
        </div>
      </div>
      <button class="select-patient-btn" (click)="selectPatient(patient)">Select</button>
    </div>
  </div>
  