/* medical-card.component.scss */

.card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  
    border-radius: 8px;
    border: 1px solid #a2aae9;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow for a subtle effect */
  
    .front, .back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease;
    }
  
    .front {
      background-color: #5669FF;
      border-radius: 8px;
      padding: 10px;
      color: white;
  
      p {
        margin: 0;
      }
    }
  
    .back {
    }
  
    &.flipped {
      transform: rotateY(180deg);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow on flip */
  
      .front {
        transform: rotateY(180deg);
      }
  
      .back {
        transform: rotateY(0deg);
      }
    }
  }
  