<!-- memory-card-game-screen.component.html -->
<app-header></app-header>

<ng-container *ngIf="phaseEnded; then phaseContext else gameContext"></ng-container>
<ng-template #gameContext>
  <div class="main-container">
  
    <app-deck [phaseNumber]="currentPhaseNumber"></app-deck>
  <div class="memory-card-game-container">
    
      <div class="game-info">
        <div class="info-item">
          <label>Current Phase:</label>
          <span>{{ currentPhase?.id }}</span>
        </div>
        
        <!-- <div class="info-item">
          <label>Time Taken:</label>
          <span>{{ timeTaken }}</span>
        </div> -->
        
        <div class="info-item">
          <label>Number of Moves:</label>
          <span>{{ currentPhase?.moves }}</span>
        </div>
    
        <!-- <div class="info-item">
          <label>Game Progress:</label>
          <span>{{ gameProgress }}</span>
        </div> -->
      </div>
    </div>
    </div>
</ng-template>

<ng-template #phaseContext>
  <app-phase-transition
  [currentPhase]="currentPhase!"
  (nextPhase)="startNextPhaseHandler()"
  (endGame)="endGame()"
></app-phase-transition>
</ng-template>

