.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; /* Reduced padding */
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  
    .app-name {
      font-size: 18px; /* Reduced font size */
      font-weight: bold;
      color: #5669FF;
    }
  
    .back-to-main-btn {
      background-color: #5669FF;
      color: #fff;
      padding: 8px 15px; /* Reduced padding */
      border: none;
      border-radius: 5px;
      font-size: 14px; /* Reduced font size */
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #4054D6;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    .patient-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  
      .patient-name {
        font-size: 14px; /* Adjusted font size */
        font-weight: bold;
        color: #333;
      }
  
      .patient-details {
        font-size: 12px; /* Adjusted font size */
        color: #666;
      }
  
      .patient-indicator {
        display: inline-block;
        width: 6px; /* Adjusted indicator size */
        height: 6px; /* Adjusted indicator size */
        background-color: #27ae60;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
  }
  