/* select-game.component.scss */

.header {
    background-color: #5669FF;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px; /* Reduced height */
  }
  
  .select-game-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr)); /* Responsive grid with 80% viewport width */
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    margin-top: 10px; /* Adjust margin for better spacing below the header */
  }
  
  .game-list-item {
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer; /* Add pointer cursor for unlocked games */
    padding: 10px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding and border in the box model */
  }
  
  .game-list-item h3 {
    font-size: 16px; /* Adjust font size for game name */
    margin-bottom: 5px;
  }
  
  .game-list-item p {
    font-size: 14px; /* Adjust font size for short description */
    margin: 0; /* Remove default margin for p element */
  }
  
  .game-list-item.locked {
    opacity: 0.5; /* Adjust the opacity for a locked appearance */
    cursor: not-allowed; /* Change cursor for locked games */
  }
  