<!-- shape.component.html -->

<div class="shape" >
    <div [ngSwitch]="shape.id">
      <div *ngSwitchCase="'rectangle'" class="rectangle" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'circle'" class="circle" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'arrow'" class="arrow" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'diamond'" class="diamond" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'oval'" class="oval" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'triangle'" class="triangle" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'pentagon'" class="pentagon" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'square'" class="square" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'star'" class="star" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'leaf'" class="leaf" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'blob'" class="blob" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'egg'" class="egg" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'trapezoid'" class="trapezoid" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'triangle-down'" class="triangle-down" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'pacman'" class="pacman" [style.color]="shape.color"></div>
      <div *ngSwitchCase="'rhombus'" class="rhombus" [style.background-color]="shape.color"></div>
      <div *ngSwitchCase="'parallelogram'" class="parallelogram" [style.background-color]="shape.color"></div>
    </div>
  </div>
  