<!-- shape.component.html -->

<div class="shape">
  <div [ngSwitch]="shape.id">
    <div *ngSwitchCase="ShapeType.Rectangle" class="rectangle" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Circle" class="circle" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Arrow" class="arrow" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Diamond" class="diamond" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Oval" class="oval" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Triangle" class="triangle" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Pentagon" class="pentagon" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Square" class="square" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Star" class="star" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Leaf" class="leaf" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Blob" class="blob" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Egg" class="egg" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Trapezoid" class="trapezoid" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.TriangleDown" class="triangle-down" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Pacman" class="pacman" [style.color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Rhombus" class="rhombus" [style.background-color]="shape.color"></div>
    <div *ngSwitchCase="ShapeType.Parallelogram" class="parallelogram" [style.background-color]="shape.color"></div>
  </div>
</div>
