.rectangle{
  width: 60px;
  height: 40px;
}

.circle{
  width: 65px;
  height: 65px;
  border-radius: 50%
}

.arrow{
  position: relative;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 50px solid ;
}

.diamond {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-bottom: 12px solid ;
  position: relative;
  top: -30px;
}

.diamond::after {
  content: '';
  position: absolute;
  left: -30px;
  top: 12px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 42px solid ;
}



.oval{
  width: 50px; 
  height: 80px;
  border-radius: 50%;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid ;
}

.pentagon{
  position: relative;
	width: 60px;
	height: 50px;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.square{
  width: 50px;
  height: 50px;
}

.star{
  width: 70px;
  height: 70px;
  left: 20%;
  top: 23%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.leaf {
  width: 60px;
  height: 60px;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
}

.blob{
  width: 60px;
  height: 60px;
  border-radius: 46% 54% 64% 36% / 61% 44% 56% 39%;
}

.egg{
  display: block;
  width: 60px;
  height: 80px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.trapezoid{
  border-bottom: 50px solid;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 70px;
}

.triangle-down{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid;
}

.pacman{
      width: 0px;
      height: 0px;
      border-right: 30px solid transparent;
      border-top: 30px solid ;
      border-left: 30px solid ;
      border-bottom: 30px solid ;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
}

.rhombus{
  width: 45px;
	height: 45px;
	transform: rotate(45deg);
}

.parallelogram{
  width: 50px;
  height: 40px;
  transform: skew(20deg);
}